<!-- Footer -->
<footer class="page-footer" style="background-color: #2a3f54;">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: #fafafa">© 2019 Copyright:
        <a href="#" >Annant Gupta</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->