<!-- Footer -->
<footer class="footer-height" style="background-color: #2a3f54;">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="">© 2019 Copyright:
        <a href="#">Annant Gupta</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->