<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 justify-content-center align-items-center d-flex">
                <img class="img-fluid d-block mb-2"
                     src="https://s3.ap-south-1.amazonaws.com/gyankriti2019/static_content/gyankriti_header.jpg"
                     alt="Gyankriti new admission photo">
            </div>
        </div>
    </div>
    <hr>
</div>