<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="alternate" href="http://gyankriti.com/en/home/" hreflang="en"/>
<link rel="alternate" href="http://gyankriti.com/hi/home-hi/" hreflang="hi"/>
<link rel="alternate" href="http://gyankriti.com/" hreflang="x-default"/>
<link rel="icon" href="http://gyankriti.com/wp-content/uploads/2018/03/logo-100x100.png" sizes="32x32"/>
<link rel="icon" href="http://gyankriti.com/wp-content/uploads/2018/03/logo.png" sizes="192x192"/>

<title><%= TITLE %></title>

<!-- jQuery CDN -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!--jquery UI-->
<script type="text/javascript" src='https://code.jquery.com/ui/1.12.0/jquery-ui.min.js'></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

<!-- Bootstrap CSS CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
        type="application/javascript"></script>

<!--<script src="/js/cookies_helper.js" type="application/javascript"></script>-->
<link rel="stylesheet" href="/css/custom_css.css">

<!-- Our Custom CSS for sidebar -->
<!--<link rel="stylesheet" href="/css/sidebar_styles.css">-->
<!--<link rel="stylesheet" href="/css/my_styles.css">-->
