<!-- Sidebar Holder -->
<nav id="sidebar">
    <div class="sidebar-header">
        <a href="/" class="site_title"><img src="http://gyankriti.com/wp-content/uploads/2018/03/logo.png"
                                            alt="Gyankriti Logo" height="50" width="50"
                                            style="margin-right: 20px"> <span>Gyankriti</span></a>
    </div>

    <ul class="list-unstyled components">
        <p>Action Menu</p>
        <li>

            <a href="/student/"> <i class="fa fa-user" style="padding-right: 2%"></i> Student</a>
        </li>
        <li>

            <a href="/transport"> <i class="fa fa-user" style="padding-right: 2%"></i> Transport</a>
        </li>
        <li>

            <a href="/fees"> <i class="fa fa-user" style="padding-right: 2%"></i> Fees</a>
        </li>
        <li>
            <a href="/notifications"> <i class="fa fa-user" style="padding-right: 2%"></i> Email and SMS</a>
        </li>
        <!--<li>-->
        <!--<a href="#">Contact</a>-->
        <!--</li>-->
    </ul>
</nav>