<!DOCTYPE html>
<html>

<head>

    <% include partials/head.ejs %>

</head>

<body>

<div class="wrapper">
    <!--Sidebar menu -->
    <% include partials/sidebar_menu.ejs %>
    <!--Sidebar menu end -->


    <!-- Page Content Holder -->
    <div id="content">
        <!--Page Navbar start-->
        <% include partials/navbar.ejs %>
        <!--Page Navabar end -->

        <!-- Tabs for adding new student -->
        <% include partials/formtabs.ejs %>
        <!-- tabs end -->

    </div>
</div>


<!-- Include all the jscripts here -->
<% include partials/js_bottom.ejs %>

<!--End all the jscripts above-->
</body>

</html>