<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">

<!--suppress HtmlRequiredTitleElement -->
<head>

    <% include partials/head.ejs %>

</head>

<body>


<!--Page Navbar start-->
<% include partials/navbar.ejs %>
<!--Page Navabar end -->
<% include partials/gyankriti_header.ejs %>

<!-- Include all the jscripts here -->
<% include partials/js_bottom.ejs %>

<!--End all the jscripts above-->
</body>

</html>