<!DOCTYPE html>
<html lang="en">

<head>

    <% include partials/head.ejs %>

</head>

<body class="bg-light">

<!--Page Navbar start-->
<% include partials/navbar.ejs %>
<!--Page Navabar end -->

<!--<div>-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-12 justify-content-center align-items-center d-flex">-->
<!--<img class="img-fluid d-block mb-2" src="/images/gyankriti_photo.jpg"-->
<!--alt="Gyankriti new admission photo">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<hr>-->
<!--</div>-->


<!-- Include all the jscripts here -->
<% include partials/js_bottom.ejs %>
<!--<script src="/js/ajax_container_new_admission.js"></script>-->
<!--End all the jscripts above-->
</body>

</html>