<!DOCTYPE html>
<html lang="en">

<head>

    <% include partials/head.ejs %>

</head>

<body class="bg-light">

<!--Page Navbar start-->
<% include partials/navbar.ejs %>
<!--Page Navabar end -->

<% include partials/gyankriti_header.ejs %>

<!-- Include all the jscripts here -->
<% include partials/js_bottom.ejs %>
<!--<script src="/js/ajax_container_new_admission.js"></script>-->
<!--End all the jscripts above-->
</body>

</html>