<!--tabs container start-->
<div class="container child-container invisible" id="admission_form_container">

    <div class="row">
        <div class="col-md-12">
            <div class="float-left"><h1>New Admission</h1></div>
            <button id="button_toggle_container" class="btn btn-primary button-shadow float-right"
                    type="button" onclick="changeContainer();">Gyankriti Students
            </button>
        </div>
    </div>

    <hr>

    <div class="row">

        <div class="container">

            <ul id="new_admission_tabs" class="nav nav-tabs  nav-fill bl" role="tablist">

                <li class="nav-item shadow-nav-link">
                    <a class="nav-link active" data-toggle="tab" href="#student">Student</a>
                </li>

                <li class="nav-item shadow-nav-link">
                    <a class="nav-link" data-toggle="tab" href="#parents">Parents</a>
                </li>

                <li class="nav-item shadow-nav-link">
                    <a class="nav-link" data-toggle="tab" href="#gyankriti">Gyankriti</a>
                </li>

                <li class="nav-item shadow-nav-link">
                    <a class="nav-link" data-toggle="tab" href="#fees">Fees</a>
                </li>

                <li class="nav-item shadow-nav-link">
                    <a class="nav-link" data-toggle="tab" href="#overview">Overview</a>
                </li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                <div id="student" class="container tab-pane active"><br>
                    <h3>STUDENT</h3>
                    <hr>

                    <div class="height-content">
                        <form id="student_form" novalidate="">


                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputstu_fname">First Name</label>
                                    <input type="text" class="form-control" id="inputstu_fname"
                                           placeholder=" John" required="">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputstu_lname">Last Name</label>
                                    <input type="text" class="form-control" id="inputstu_lname"
                                           placeholder=" Doe" required="">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-4 text-center">
                                    <label for="inputstu_dob">Date Of Birth</label>
                                    <input type="date" class="form-control " id="inputstu_dob"
                                           placeholder="mm/dd/yyyy" required="">
                                </div>

                                <div class="form-group col-md-4 text-center">
                                    <label for="inputstu_city">City</label>
                                    <input type="text" class="form-control" id="inputstu_city"
                                           placeholder=" Indore" required="">
                                </div>

                                <!--needs to  be checked-->
                                <div class="form-group col-md-4 text-center">
                                    <label for="inputstu_gender">Gender</label>

                                    <select id="inputstu_gender"
                                            class="text-bold form-control form-control-md">
                                        <option value="select" selected>Select...</option>

                                        <option value="male">Male</option>
                                        <option value="female">Female</option>

                                    </select>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="inputstu_address">Residential Address</label>
                                <input type="text" class="form-control" id="inputstu_address"
                                       placeholder=" 1234 Main St">
                            </div>


                            <div class="form-group">
                                <label for="inputstu_addressline2">Address Line 2</label>
                                <input type="text" class="form-control" id="inputstu_addressline2"
                                       placeholder=" Apartment, studio, or floor">
                            </div>

                            <!--<button type="submit" class="btn btn-primary button-shadow">Sign in</button>-->
                        </form>
                    </div>

                    <hr>
                    <div class="col-md-12">
                        <button class="btn btn-primary button-shadow float-right" type="button"
                                onclick="nextTab('#parents')">Next
                        </button>
                    </div>
                </div>

                <div id="parents" class="container tab-pane"><br>
                    <h3>PARENTS</h3>
                    <hr>

                    <div class="height-content">
                        <form id="parent_form" novalidate="">


                            <h4>Father's Detail</h4>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputfather_name">Name</label>
                                    <input type="text" class="form-control" id="inputfather_name"
                                           placeholder=" John Doe" required="">
                                </div>
                                <div class="form-group col-md-3 text-center">
                                    <label for="inputfather_mob">Mobile No</label>
                                    <input type="text" class="form-control" id="inputfather_mob"
                                           placeholder=" 0123456789" required="">
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="inputfather_email">Email</label>
                                    <input type="email" class="form-control" id="inputfather_email"
                                           placeholder=" johndoe@example.com" required="">
                                    <!--<div class="invalid-feedback">-->
                                    <!--please check email address.-->
                                    <!--</div>-->
                                    <!--<div class="valid-feedback">-->
                                    <!--Valid email-->
                                    <!--</div>-->

                                </div>
                            </div>


                            <hr>
                            <h4>Mother's Detail</h4>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputmother_name">Name</label>
                                    <input type="text" class="form-control" id="inputmother_name"
                                           placeholder=" Jessica Doe" required="">
                                </div>
                                <div class="form-group col-md-3 text-center">
                                    <label for="inputmother_mob">Mobile No</label>
                                    <input type="text" class="form-control" id="inputmother_mob"
                                           placeholder=" 0123456789" required="">
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="inputmother_email">Email</label>
                                    <input type="email" class="form-control" id="inputmother_email"
                                           placeholder=" jessicadoe@example.com">
                                </div>
                            </div>


                            <!--<button type="submit" class="btn btn-primary button-shadow">Sign in</button>-->
                        </form>
                    </div>

                    <hr>
                    <div class="col-md-12">
                        <button class="btn btn-primary button-shadow float-left" type="button"
                                onclick="previousTab('#student')">
                            Previous
                        </button>
                        <button class="btn btn-primary button-shadow float-right" type="button"
                                onclick="nextTab('#gyankriti')">Next
                        </button>
                    </div>
                </div>


                <div id="gyankriti" class="container tab-pane fade"><br>
                    <h3>GYANKRITI</h3>
                    <hr>

                    <div class="height-content">
                        <form id="gyankriti_form" novalidate="">

                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputstu_username">Username</label>
                                    <input type="text" class="form-control" id="inputstu_username"
                                           placeholder=" johndoe" required="">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputstu_enrollment">Enrollment</label>
                                    <input type="text" class="form-control" id="inputstu_enrollment"
                                           placeholder=" K01/015" required="">
                                </div>
                                <div class="form-group col-md-4 text-center">
                                    <label for="inputstu_doadmission">Date Of Admission</label>
                                    <input type="date" class="form-control" id="inputstu_doadmission"
                                           placeholder=" John Doe" required="">
                                </div>
                            </div>

                            <!--convert to dropdown in coming iteration  this whole group row -->
                            <div class="form-row">
                                <div class="form-group col-md-3 text-center">
                                    <label for="inputstu_standard">Standard</label>

                                    <select id="inputstu_standard"
                                            class="text-bold form-control form-control-md">
                                        <option value="select" selected>Select...</option>

                                        <option value="standard-1">Standard-1</option>
                                        <option value="standard-2">Standard-2</option>
                                        <option value="standard-3">Standard-3</option>
                                        <option value="standard-4">Standard-4</option>
                                        <option value="standard-5">Standard-5</option>
                                        <option value="standard-6">Standard-6</option>

                                    </select>

                                </div>

                                <div class="form-group col-md-3 text-center">
                                    <label for="inputstu_section">Section</label>

                                    <select id="inputstu_section"
                                            class="text-bold form-control form-control-md">
                                        <option value="select" selected>Select...</option>

                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>

                                    </select>
                                </div>

                                <div class="form-group col-md-3 text-center">
                                    <label for="inputstu_vanroute">Van Route</label>

                                    <select id="inputstu_vanroute"
                                            class="text-bold form-control form-control-md">
                                        <option value="select" selected>Select...</option>

                                        <option value="5A">5A</option>
                                        <option value="1A">1A</option>
                                        <option value="2C">2C</option>

                                    </select>
                                </div>

                                <div class="form-group col-md-3 text-center">
                                    <label for="inputstu_vanshift">Van Shift</label>

                                    <select id="inputstu_vanshift"
                                            class="text-bold form-control form-control-md">
                                        <option value="select" selected>Select...</option>

                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>

                                    </select>
                                </div>


                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-5 text-center">
                                    <label for="inputstu_email">Registered Email</label>
                                    <input type="text" class="form-control" id="inputstu_email"
                                           placeholder=" s.gyankriti.student">
                                </div>

                                <div class="form-group col-md-5">
                                    <label>Email-Domain</label>

                                    <div class="form-row">

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label" style="color: blue">
                                                <em><strong>@gyankriti.com</strong></em>
                                            </label>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <!--<button type="submit" class="btn btn-primary button-shadow">Sign in</button>-->
                        </form>
                    </div>

                    <hr>
                    <div class="col-md-12">
                        <button class="btn btn-primary button-shadow float-left" type="button"
                                onclick="previousTab('#parents')">
                            Previous
                        </button>
                        <button class="btn btn-primary button-shadow float-right" type="button"
                                onclick="nextTab('#fees')">Next
                        </button>
                    </div>
                </div>

                <div id="fees" class="container tab-pane fade"><br>
                    <h3>Fee Structure</h3>
                    <hr>

                    <div class="height-content">
                        <form id="fee_form" novalidate="">

                            <div class="form-group row">

                                <label for="inputstu_feestructure" class="col-sm-4 col-form-label">Fee
                                    Structure :</label>

                                <div class="col-sm-4">

                                    <select id="inputstu_feestructure" class="text-bold form-control">

                                        <option value="select" selected>Select...</option>
                                        <option value="yearly">Yearly</option>
                                        <option value="half-yearly">Half-Yearly</option>
                                        <option value="quarterly">Quarterly</option>
                                        <option value="custom">Custom</option>

                                    </select>

                                </div>

                            </div>

                            <div class="form-group row">
                                <label for="first_installment" class="col-sm-4 col-form-label">First
                                    Installment (&#8377;) :</label>
                                <div class="col-sm-4">
                                    <input type="number" min="0" class="form-control" id="first_installment"
                                           placeholder="Rs. Fee Amount">
                                </div>
                            </div>
                            <!--<button type="submit" class="btn btn-primary button-shadow">Sign in</button>-->
                        </form>
                    </div>

                    <hr>
                    <div class="col-md-12">
                        <button class="btn btn-primary button-shadow float-left" type="button"
                                onclick="previousTab('#gyankriti')">
                            Previous
                        </button>
                        <button class="btn btn-primary button-shadow float-right" type="button"
                                onclick="nextTab('#overview')">Next
                        </button>
                    </div>
                </div>

                <div id="overview" class="container tab-pane fade"><br>
                    <h3>SUMMARY</h3>
                    <hr>

                    <div class="height-content">
                        <p>Show all the data that will be sent and a button to submit action.</p>
                    </div>

                    <hr>
                    <div class="col-md-12">
                        <button class="btn btn-primary button-shadow  float-left" type="button"
                                onclick="previousTab('#fees')">
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary button-shadow float-right"
                                id="button_submit">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- tabs container end-->

<script>
    function nextTab(tabId) {
        let tabSelector = '#new_admission_tabs a[href="' + tabId + '"]';
        console.log(tabSelector);
        $(tabSelector).tab('show');
    }

    function previousTab(tabId) {
        let tabSelector = '#new_admission_tabs a[href="' + tabId + '"]';
        console.log(tabSelector);
        $(tabSelector).tab('show');
    }
</script>
<script src="ajax_container_new_admission.js"></script>