<div class="container child-container invisible" id="gyankriti_students_container">


    <div class="row">
        <div class="col-md-12">
            <div class="float-left"><h1>Gyankriti Students</h1></div>
            <button id="button_toggle_container" class="btn btn-primary button-shadow float-right" type="button"
                    onclick="changeContainer();">New Admission
            </button>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="container">

            <!--table in  container -->
            <table id="students_table" class="table table-striped table-bordered row-border hover order-column"
                   style="width:100%">
                <thead>
                <tr>
                    <th>Enrollment</th>
                    <th>Full Name</th>
                    <th>Standard</th>
                    <th>Section</th>
                    <th>Van Route</th>
                    <th>Gyankriti Email</th>
                </tr>
                </thead>
                <tbody id="table_main_body">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="ajax_container_gyankriti_students.js"></script>