<!--tabs container start-->
<div class="container child-container invisible" id="admission_form_container">

    <div class="row">
        <div class="col-md-12">
            <div class="float-left"><h1>New Admission</h1></div>
            <button id="button_toggle_container" class="btn btn-primary button-shadow float-right" type="button"
                    onclick="changeContainer();">Gyankriti Students
            </button>
        </div>
    </div>

    <hr>

    <div class="row">

        <div class="container">

            <ul id="new_admission_tabs" class="nav nav-tabs  nav-fill bl" role="tablist">

                <li class="nav-item shadow-nav-link">
                    <a class="nav-link active" data-toggle="tab" href="#student">Student</a>
                </li>

                <li class="nav-item shadow-nav-link">
                    <a class="nav-link" data-toggle="tab" href="#parents">Parents</a>
                </li>

                <li class="nav-item shadow-nav-link">
                    <a class="nav-link" data-toggle="tab" href="#gyankriti">Gyankriti</a>
                </li>

                <li class="nav-item shadow-nav-link">
                    <a class="nav-link" data-toggle="tab" href="#fees">Fees</a>
                </li>

                <li class="nav-item shadow-nav-link">
                    <a class="nav-link" data-toggle="tab" href="#overview">Overview</a>
                </li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                <div id="student" class="container tab-pane active"><br>
                    <h3>STUDENT</h3>
                    <hr>

                    <div class="height-content">
                        <form id="student_form" novalidate>


                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputstu_fname">First Name</label>
                                    <input type="text" class="form-control" id="inputstu_fname"
                                           placeholder=" John" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputstu_lname">Last Name</label>
                                    <input type="text" class="form-control" id="inputstu_lname"
                                           placeholder=" Doe" required>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputstu_dob">Date Of Birth</label>
                                    <input type="date" class="form-control " id="inputstu_dob"
                                           placeholder="mm/dd/yyyy"
                                           required>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="inputstu_city">City</label>
                                    <input type="text" class="form-control" id="inputstu_city"
                                           placeholder=" Indore"
                                           required>
                                </div>

                                <!--needs to  be checked-->
                                <div class="form-group col-md-4 text-center">
                                    <label>Gender</label>

                                    <div class="form-row justify-content-center">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio"
                                                       name="inputstu_gender"
                                                       value="male" required> <strong>Male</strong>
                                            </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio"
                                                       name="inputstu_gender"
                                                       value="female"> <strong>Female</strong>
                                            </label>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="form-group">
                                <label for="inputstu_address">Residential Address</label>
                                <input type="text" class="form-control" id="inputstu_address"
                                       placeholder=" 1234 Main St">
                            </div>


                            <div class="form-group">
                                <label for="inputstu_addressline2">Address Line 2</label>
                                <input type="text" class="form-control" id="inputstu_addressline2"
                                       placeholder=" Apartment, studio, or floor">
                            </div>

                            <!--<button type="submit" class="btn btn-primary button-shadow">Sign in</button>-->
                        </form>
                    </div>

                    <hr>
                    <div class="col-md-12">
                        <button class="btn btn-primary button-shadow float-right" type="button"
                                onclick="nextTab('#parents')">Next
                        </button>
                    </div>
                </div>

                <div id="parents" class="container tab-pane"><br>
                    <h3>PARENTS</h3>
                    <hr>

                    <div class="height-content">
                        <form id="parent_form" novalidate>


                            <h4>Father's Detail</h4>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputfather_name">Name</label>
                                    <input type="text" class="form-control" id="inputfather_name"
                                           placeholder=" John Doe" required>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputfather_mob">Mobile No.</label>
                                    <input type="text" class="form-control" id="inputfather_mob"
                                           placeholder=" 0123456789" required>
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="inputfather_email">Email</label>
                                    <input type="email" class="form-control" id="inputfather_email"
                                           placeholder=" johndoe@example.com" required>
                                    <!--<div class="invalid-feedback">-->
                                    <!--please check email address.-->
                                    <!--</div>-->
                                    <!--<div class="valid-feedback">-->
                                    <!--Valid email-->
                                    <!--</div>-->

                                </div>
                            </div>


                            <hr>
                            <h4>Mother's Detail</h4>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputmother_name">Name</label>
                                    <input type="text" class="form-control" id="inputmother_name"
                                           placeholder=" Jessica Doe" required>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputmother_mob">Mobile No.</label>
                                    <input type="text" class="form-control" id="inputmother_mob"
                                           placeholder=" 0123456789" required>
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="inputmother_email">Email</label>
                                    <input type="email" class="form-control" id="inputmother_email"
                                           placeholder=" jessicadoe@example.com">
                                </div>
                            </div>


                            <!--<button type="submit" class="btn btn-primary button-shadow">Sign in</button>-->
                        </form>
                    </div>

                    <hr>
                    <div class="col-md-12">
                        <button class="btn btn-primary button-shadow float-left" type="button"
                                onclick="previousTab('#student')">
                            Previous
                        </button>
                        <button class="btn btn-primary button-shadow float-right" type="button"
                                onclick="nextTab('#gyankriti')">Next
                        </button>
                    </div>
                </div>


                <div id="gyankriti" class="container tab-pane fade"><br>
                    <h3>GYANKRITI</h3>
                    <hr>

                    <div class="height-content">
                        <form id="gyankriti_form" novalidate>

                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputstu_username">Username</label>
                                    <input type="text" class="form-control" id="inputstu_username"
                                           placeholder=" johndoe" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputstu_enrollment">Enrollment</label>
                                    <input type="text" class="form-control" id="inputstu_enrollment"
                                           placeholder=" K01/015" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputstu_doadmission">Date Of Admission</label>
                                    <input type="date" class="form-control" id="inputstu_doadmission"
                                           placeholder=" John Doe" required>
                                </div>
                            </div>

                            <!--convert to dropdown in coming iteration  this whole group row -->
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputstu_standard">Standard</label>
                                    <input type="text" class="form-control" id="inputstu_standard"
                                           placeholder=" JS1 " required>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputstu_section">Section</label>
                                    <input type="text" class="form-control" id="inputstu_section"
                                           placeholder=" A" required>
                                </div>


                                <div class="form-group col-md-5">
                                    <label for="inputstu_vanroute">Van Route</label>
                                    <input type="text" class="form-control" id="inputstu_vanroute"
                                           placeholder=" 5A2" required>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label for="inputstu_email">Registered Email</label>
                                    <input type="text" class="form-control" id="inputstu_email"
                                           placeholder=" s.gyankriti.student">
                                </div>

                                <div class="form-group col-md-5">
                                    <label for="inputstuCity">Email-Domain</label>

                                    <div class="form-row">

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label" style="color: blue">
                                                <em><strong>@gyankriti.com</strong></em>
                                            </label>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <!--<button type="submit" class="btn btn-primary button-shadow">Sign in</button>-->
                        </form>
                    </div>

                    <hr>
                    <div class="col-md-12">
                        <button class="btn btn-primary button-shadow float-left" type="button"
                                onclick="previousTab('#parents')">
                            Previous
                        </button>
                        <button class="btn btn-primary button-shadow float-right" type="button"
                                onclick="nextTab('#fees')">Next
                        </button>
                    </div>
                </div>

                <div id="fees" class="container tab-pane fade"><br>
                    <h3>Fee Structure</h3>
                    <hr>

                    <div class="height-content">
                        <p>Under Development</p>
                    </div>

                    <hr>
                    <div class="col-md-12">
                        <button class="btn btn-primary button-shadow float-left" type="button"
                                onclick="previousTab('#gyankriti')">
                            Previous
                        </button>
                        <button class="btn btn-primary button-shadow float-right" type="button"
                                onclick="nextTab('#overview')">Next
                        </button>
                    </div>
                </div>

                <div id="overview" class="container tab-pane fade"><br>
                    <h3>SUMMARY</h3>
                    <hr>

                    <div class="height-content">
                        <p>Show all the data that will be sent and a button to submit action.</p>
                    </div>

                    <hr>
                    <div class="col-md-12">
                        <button class="btn btn-primary button-shadow  float-left" type="button"
                                onclick="previousTab('#fees')">
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary button-shadow float-right" id="button_submit">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div><!--/col-9-->
</div>
<!-- tabs container end-->
<script src="ajax_container_new_admission.js"></script>