<!DOCTYPE html>
<html lang="en">

<!--suppress HtmlRequiredTitleElement -->
<head>

    <% include ../partials/head.ejs %>
</head>

<body class="bg-light">

<!--Page Navbar start-->
<% include ../partials/navbar.ejs %>
<!--Page Navabar end -->

<% include ../partials/gyankriti_header.ejs %>

<!-- Page Content Holder -->
<div id="main_content_container">

    <div class="container">
        <div class="row">

            <div class="col-md-12 order-md-1 d-flex flex-column justify-content-center">
                <h3 class="mb-3 d-flex flex-row justify-content-center align-items-center"> Gyankriti-Student
                    Information</h3>

                <form class="needs-validation" novalidate="">

                    <div class="row mb-3">

                        <div class="col-md-3 justify-content-center align-items-center d-flex flex-column">
                            <label for="output_student_name"><b>Student Name</b></label>
                            <output class="form-control text-bold text-center" id="output_student_name">Name</output>
                        </div>

                        <div class="col-md-3 justify-content-center align-items-center d-flex flex-column">
                            <label for="input_gyankriti_enrollment"><b>Enrollment</b></label>
                            <input type="text" class="form-control" id="input_gyankriti_enrollment">
                        </div>

                        <div class="col-md-3 justify-content-center align-items-center d-flex flex-column">
                            <label for="input_gyankriti_email"><b>Student Email</b></label>
                            <input type="text" class="form-control" id="input_gyankriti_email">
                        </div>

                        <div class="col-md-3 justify-content-center align-items-center d-flex flex-column">
                            <label for="input_gyankriti_username"><b>Username</b></label>
                            <input type="text" class="form-control" id="input_gyankriti_username">
                        </div>

                    </div>


                    <div class="row mb-3">

                        <div class="justify-content-center align-items-center d-flex flex-column col-md-4">
                            <label for="dropdown_standard"><b>Standard</b></label>
                            <select id="dropdown_standard" class="form-control d-block text-center">
                                <option value="choose">Choose...</option>
                            </select>
                        </div>

                        <div class="justify-content-center align-items-center d-flex flex-column col-md-4">
                            <label for="dropdown_section"><b>Section</b></label>
                            <select id="dropdown_section" class="form-control d-block text-center">
                                <option value="choose">Choose...</option>
                            </select>
                        </div>

                        <div class="justify-content-center align-items-center d-flex flex-column col-md-4">
                            <label for="dropdown_shift"><b>Shift</b></label>
                            <select id="dropdown_shift" class="form-control d-block text-center">
                                <option value="choose">Choose...</option>
                            </select>
                        </div>

                    </div>

                    <div class="row mb-3">

                        <div class="justify-content-center align-items-center d-flex flex-column col-md-4">
                            <label for="dropdown_bus_facility"><b>Bus facility</b></label>
                            <select id="dropdown_bus_facility" class="form-control d-block text-center">

                            </select>
                        </div>

                        <div class="justify-content-center align-items-center d-flex flex-column col-md-4">
                            <label for="dropdown_route"><b>Route</b></label>
                            <select id="dropdown_route" class="form-control d-block text-center">
                                <option value="choose">Choose...</option>
                            </select>
                        </div>

                        <div class="justify-content-center align-items-center d-flex flex-column col-md-4">
                            <label for="dropdown_mess_facility"><b>Mess facility</b></label>
                            <select id="dropdown_mess_facility" class="form-control d-block text-center">

                            </select>
                        </div>

                    </div>

                    <div class="row mb-3">

                        <div class="justify-content-center align-items-center d-flex flex-column col-md-3 ">
                            <label for="output_bus_fee"><b>Bus Fee</b></label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">&#x20b9</span>
                                </div>
                                <input type="number" class="form-control input-disabled text-bold text-center"
                                       id="output_bus_fee" min="0" value="0">

                                <div class="input-group-append">
                                    <button type="button" id="button_output_bus_fee"
                                            class="btn btn-outline-primary">
                                        Edit
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="justify-content-center align-items-center d-flex flex-column col-md-3 ">
                            <label for="output_admission_fee"><b>Admission Fee </b>
                                <i class="fa fa-question-circle" title="One time charges for admission"
                                   aria-hidden="true"></i>

                            </label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">&#x20b9</span>
                                </div>
                                <input type="number" class="form-control input-disabled text-bold text-center"
                                       id="output_admission_fee" min="0" value="0">

                                <div class="input-group-append">
                                    <button type="button" id="button_output_admission_fee"
                                            class="btn btn-outline-primary">
                                        Edit
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="justify-content-center align-items-center d-flex flex-column col-md-3 ">
                            <label for="output_mess_fee"><b>Mess Fee</b></label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">&#x20b9</span>
                                </div>
                                <input type="number" class="form-control input-disabled text-bold text-center"
                                       id="output_mess_fee" min="0" value="0">

                                <div class="input-group-append">
                                    <button type="button" id="button_output_mess_fee"
                                            class="btn btn-outline-primary">
                                        Edit
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="justify-content-center align-items-center d-flex flex-column col-md-3 ">
                            <label for="output_total_fee"><b>Total Amount</b></label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">&#x20b9</span>
                                </div>

                                <input type="number" class="form-control input-disabled text-bold text-center"
                                       id="output_total_fee" min="0" value="0">
                            </div>
                        </div>

                    </div>


                </form>
            </div>


        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-md-12 order-md-1 d-flex flex-column justify-content-center">
                <button id="button_complete_admission_process" class="btn btn-primary button-shadow">Complete Admission
                    Process
                </button>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!--END main parent container-->
</div>


<script src="gyankriti_information.js"></script>
<!--Include all the jscripts here -->
<% include ../partials/js_bottom.ejs %>
<!--<script src="student_index.js"></script>-->
<!--End all the jscripts above-->
</body>

</html>