<!DOCTYPE html>
<html lang="en">

<!--suppress HtmlRequiredTitleElement -->
<head>

    <% include ../partials/head.ejs %>

</head>

<body class="bg-light">

<!--Page Navbar start-->
<% include ../partials/navbar.ejs %>
<!--Page Navabar end -->
<hr>


<!-- Page Content Holder -->
<div id="main_content_container">

    <div class="row">
        <div class="container">

            <!--table in  container -->
            <table id="students_table" class="table table-striped table-bordered row-border hover order-column"
                   style="width:100%">
                <thead>
                <tr>
                    <th>Aadhar</th>
                    <th>Full Name</th>
                    <th>DOB</th>
                    <th>Academic Session</th>
                    <th>Admission Class</th>
                    <th>Gender</th>
                </tr>
                </thead>
                <tbody id="table_main_body">
                </tbody>
            </table>
        </div>
    </div>

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!--ENd main parent container-->
</div>


<script src="gyankriti_students.js"></script>
<!-- Include all the jscripts here -->
<% include ../partials/js_bottom.ejs %>
<!--<script src="student_index.js"></script>-->
<!--End all the jscripts above-->
</body>

</html>