<!DOCTYPE html>
<html lang="en">

<!--suppress HtmlRequiredTitleElement -->
<head>

    <% include ../partials/head.ejs %>

</head>

<body class="bg-light">

<!--Page Navbar start-->
<% include ../partials/navbar.ejs %>
<!--Page Navabar end -->

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 justify-content-center align-items-center d-flex">
                <img class="img-fluid d-block mb-2" src="https://lh6.googleusercontent.com/_Gh5Fg5T6hJEZTuI0g71c9jl-PXTug3j5M0ms9ZvXSCDF_GRieVkBjXxUT-y99hOGoTv7IyrhJJ3nv4x3pgF=w1920-h969-rw"
                     alt="Gyankriti new admission photo">
            </div>
        </div>
    </div>
    <hr>
</div>


<!-- Page Content Holder -->
<div id="main_content_container">

    <div class="my-5" id="general_information_form">
        <div class="container">
            <div class="row">
                <div class="col-md-4 order-md-2">
                    <h3 class="mb-3 text-center">Student Image</h3>
                    <div class="card text-center bg-dark">
                        <div class="card-body bg-light">
                            <h5 class="card-title">Student</h5>
                            <img class="img-fluid d-block mx-auto rounded"
                                 src="http://gyankriti.com/wp-content/uploads/2018/03/logo-100x100.png" width="250"
                                 height="200" alt="student image gyankriti logo placeholder">
                            <p class="card-text">Upload an image</p>
                            <a href="#" class="btn btn-primary">Upload Image</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 order-md-1 d-flex flex-column justify-content-center">
                    <h3 class="mb-3 text-center">Student Information</h3>
                    <form class="needs-validation" novalidate="">
                        <div class="row mb-3">
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column"><label
                                ><b>Academic Session</b></label> <select
                                        class="form-control d-block text-center" required="" name="Gender">
                                    <option value="" class="text-center">Choose...</option>
                                    <option value="">Choose...</option>
                                    <option value="">Choose...</option>
                                    <option value="United States">United States</option>
                                </select>
                                <div class="invalid-feedback"> Please select a valid country.</div>
                            </div>
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column"><label
                                ><b>Admission Class</b></label> <select
                                        class="form-control d-block text-center" required="" name="Gender">
                                    <option value="">Choose...</option>
                                    <option value="">Choose...</option>
                                    <option value="">Choose...</option>
                                    <option value="United States">United States</option>
                                </select>
                                <div class="invalid-feedback"> Please select a valid country.</div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <b>First Name</b></label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <b>Last Name</b></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <b>AADHAR ID</b></label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <b>Samagra SSMID</b></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <b>Date Of Birth</b></label>
                                <input type="date" class="form-control text-center" placeholder="DD-MM-YYYY"
                                       value="" required="">

                            </div>
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column"><label
                                ><b>Gender</b></label> <select
                                        class="form-control d-block text-center" required="" name="Gender">
                                    <option value="">Choose...</option>
                                    <option value="">Male</option>
                                    <option value="">Female</option>
                                    <option value="United States">Transgender</option>
                                </select>
                                <div class="invalid-feedback"> Please select a valid country.</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 order-md-1">
                    <form class="needs-validation" novalidate="">
                        <hr>
                        <div class="row mb-3">
                            <div class="justify-content-center align-items-center d-flex flex-column col-md-3"><label
                                ><b>Nationality</b></label> <select
                                        class="form-control d-block text-center" required="" name="Gender">
                                    <option value="">Choose...</option>
                                    <option value="">Male</option>
                                    <option value="">Female</option>
                                    <option value="United States">Transgender</option>
                                </select>
                                <div class="invalid-feedback"> Please select a valid country.</div>
                            </div>
                            <div class="justify-content-center align-items-center d-flex flex-column col-md-3"><label
                                ><b>Religion</b></label> <select
                                        class="form-control d-block text-center" required="" name="Gender">
                                    <option value="">Choose...</option>
                                    <option value="">Male</option>
                                    <option value="">Female</option>
                                    <option value="United States">Transgender</option>
                                </select>
                                <div class="invalid-feedback"> Please select a valid country.</div>
                            </div>
                            <div class="justify-content-center align-items-center d-flex flex-column col-md-3"><label
                                ><b>Caste</b></label> <select
                                        class="form-control d-block text-center" required="" name="Gender">
                                    <option value="">Choose...</option>
                                    <option value="">Male</option>
                                    <option value="">Female</option>
                                    <option value="United States">Transgender</option>
                                </select>
                                <div class="invalid-feedback"> Please select a valid country.</div>
                            </div>
                            <div class="col-md-3 justify-content-center align-items-center d-flex flex-column">
                                <label><b>Other:</b></label>
                                <input type="text" class="form-control" disabled="">

                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="justify-content-center align-items-center d-flex flex-column col-md-6">
                                <b>Present Address</b></label>
                                <input type="text" class="form-control" value="" required=""
                                       placeholder="Address 1">

                            </div>
                            <div class="justify-content-center align-items-center d-flex flex-column col-md-2"><label
                                ><b>State</b></label> <select
                                        class="form-control d-block text-center" required="" name="Gender">
                                    <option value="">Choose...</option>
                                    <option value="">Choose...</option>
                                    <option value="">Choose...</option>
                                    <option value="United States">United States</option>
                                </select>
                                <div class="invalid-feedback"> Please select a valid country.</div>
                            </div>
                            <div class="justify-content-center align-items-center d-flex flex-column col-md-2"><label
                                ><b>City</b></label> <select
                                        class="form-control d-block text-center" required="" name="Gender">
                                    <option value="">Choose...</option>
                                    <option value="">Choose...</option>
                                    <option value="">Choose...</option>
                                    <option value="United States">United States</option>
                                </select>
                                <div class="invalid-feedback"> Please select a valid country.</div>
                            </div>
                            <div class="justify-content-center align-items-center d-flex flex-column col-md-2"><label
                                ><b>Pincode</b></label> <select
                                        class="form-control d-block text-center" required="" name="Gender">
                                    <option value="">Choose...</option>
                                    <option value="">Choose...</option>
                                    <option value="">Choose...</option>
                                    <option value="United States">United States</option>
                                </select>
                                <div class="invalid-feedback"> Please select a valid country.</div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="justify-content-center align-items-center d-flex flex-column col-md-6">
                                <b>Permanent Address (If Any)</b></label>
                                <input type="text" class="form-control" value="" required=""
                                       placeholder="Address 1">

                            </div>
                            <div class="justify-content-center align-items-center d-flex flex-column col-md-2"><label
                                ><b>State</b></label> <select
                                        class="form-control d-block text-center" required="" name="Gender">
                                    <option value="">Choose...</option>
                                    <option value="">Choose...</option>
                                    <option value="">Choose...</option>
                                    <option value="United States">United States</option>
                                </select>
                                <div class="invalid-feedback"> Please select a valid country.</div>
                            </div>
                            <div class="justify-content-center align-items-center d-flex flex-column col-md-2"><label
                                ><b>City</b></label> <select
                                        class="form-control d-block text-center" required="" name="Gender">
                                    <option value="">Choose...</option>
                                    <option value="">Choose...</option>
                                    <option value="">Choose...</option>
                                    <option value="United States">United States</option>
                                </select>
                                <div class="invalid-feedback"> Please select a valid country.</div>
                            </div>
                            <div class="justify-content-center align-items-center d-flex flex-column col-md-2"><label
                                ><b>Pincode</b></label> <select
                                        class="form-control d-block text-center" required="" name="Gender">
                                    <option value="">Choose...</option>
                                    <option value="">Choose...</option>
                                    <option value="">Choose...</option>
                                    <option value="United States">United States</option>
                                </select>
                                <div class="invalid-feedback"> Please select a valid country.</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!--General student information form end-->
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

    <!--Additional information Form-->
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 order-md-1 d-flex flex-column justify-content-center">
                    <h3 class="d-flex justify-content-center align-items-center">Additional Information
                        and Education History </h3>

                    <hr>

                    <form class="needs-validation" novalidate="">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <form class="needs-validation" novalidate="">
                                    <div class="row mb-3">
                                        <div class="justify-content-center align-items-center d-flex flex-column col-md-3">
                                            <label><b>The parents are :</b></label> <select
                                                    class="form-control d-block text-center" required=""
                                                    name="Gender">
                                                <option value="">Choose...</option>
                                                <option value="">Male</option>
                                                <option value="">Female</option>
                                                <option value="United States">Transgender</option>
                                            </select>
                                        </div>
                                        <div class="justify-content-center align-items-center d-flex flex-column col-md-3">
                                            <label><b>Child lives with</b></label> <select
                                                    class="form-control d-block text-center" required=""
                                                    name="Gender">
                                                <option value="">Choose...</option>
                                                <option value="">Male</option>
                                                <option value="">Female</option>
                                                <option value="United States">Transgender</option>
                                            </select>
                                        </div>
                                        <div class="justify-content-center align-items-center d-flex flex-column col-md-3">
                                            <label><b>Adopted child</b></label> <select
                                                    class="form-control d-block text-center" required=""
                                                    name="Gender">
                                                <option value="">Choose...</option>
                                                <option value="">Male</option>
                                                <option value="">Female</option>
                                                <option value="United States">Transgender</option>
                                            </select>
                                        </div>
                                        <div class="justify-content-center align-items-center d-flex flex-column col-md-3">
                                            <label><b>Any previous schools</b></label> <select
                                                    class="form-control d-block text-center" required=""
                                                    name="Gender">
                                                <option value="">Choose...</option>
                                                <option value="">Male</option>
                                                <option value="">Female</option>
                                                <option value="United States">Transgender</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark" style="border: 1px solid #343a40">
                            <tr>
                                <th class="text-center">School Name</th>
                                <th class="text-center">City and State</th>
                                <th class="text-center">Year of Admission</th>
                                <th class="text-center">Grades Completed</th>
                                <th class="text-center">Board/Pattern</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="text" style="min-width: available"/></td>
                                <td><input type="text" style="min-width: available"/></td>
                                <td><input type="text" style="min-width: available"/></td>
                                <td><input type="text" style="min-width: available"/></td>
                                <td><input type="text" style="min-width: available"/></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="container">
            <form class="needs-validation" novalidate="">
                <div class="row">
                    <div class="form-group row d-flex col-md-12 align-items-center  justify-content-center flex-column">
                        <div class="col-md-10">
                            <label><b class="mx-2">Has the student ever been tested (or referred
                                    for testing) for a learning, behavioural, emotional or physical
                                    disability? </b></label>
                        </div>
                        <div class="d-flex flex-row justify-content-center align-items-center">
                            <div class=" mx-2"><input type="radio">
                                <label>YES</label></div>
                            <div class=" mx-2"><input type="radio">
                                <label>NO</label></div>
                        </div>
                    </div>
                    <div class="justify-content-center align-items-center d-flex flex-column col-md-12 mb-3"><input
                                class="form-control visible" required=""
                                placeholder="Please explain the circumstances for the above in detail.">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group row d-flex col-md-12 align-items-center justify-content-center flex-column">
                        <div class="col-md-10">
                            <label><b class="mx-2">Has the child ever been evaluated by a
                                    psychiatrist, psychologist, speech/language therapist, educational diagnostician or
                                    other
                                    specialist? </b></label>
                        </div>
                        <div class="d-flex flex-row justify-content-center align-items-center">
                            <div class=" mx-2"><input type="radio">
                                <label>YES</label></div>
                            <div class=" mx-2"><input type="radio">
                                <label>NO</label></div>
                        </div>

                    </div>
                    <div class="justify-content-center align-items-center d-flex flex-column col-md-12 mb-3"><input
                                class="form-control visible" required=""
                                placeholder="Please explain the circumstances for the above in detail.">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group row d-flex col-md-12 align-items-center justify-content-center flex-column">
                        <div class="col-md-10">
                            <label><b class="mx-2">Has the student ever repeated or skipped a
                                    grade/class in school? </b></label>
                        </div>
                        <div class="d-flex flex-row justify-content-center align-items-center">
                            <div class=" mx-2"><input type="radio">
                                <label>YES</label></div>
                            <div class=" mx-2"><input type="radio">
                                <label>NO</label></div>
                        </div>
                    </div>
                    <div class="justify-content-center align-items-center d-flex flex-column col-md-12 mb-3"><input
                                class="form-control visible" required=""
                                placeholder="Please explain the circumstances for the above in detail.">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group row d-flex col-md-12 align-items-center justify-content-center flex-column">
                        <div class="col-md-10">
                            <label><b class="mx-2">Has the student been suspended/expelled from
                                    any other school? </b></label>
                        </div>
                        <div class="d-flex flex-row justify-content-center align-items-center">
                            <div class=" mx-2"><input type="radio">
                                <label>YES</label></div>
                            <div class=" mx-2"><input type="radio">
                                <label>NO</label></div>
                        </div>
                    </div>
                    <div class="justify-content-center align-items-center d-flex flex-column col-md-12 mb-3"><input
                                class="form-control visible" required=""
                                placeholder="Please explain the circumstances for the above in detail.">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group row d-flex col-md-12 align-items-center justify-content-center flex-column">
                        <div class="col-md-10">
                            <label><b class="mx-2">Does the student have any major illness or
                                    undergone any surgery? </b></label>
                        </div>
                        <div class="d-flex flex-row justify-content-center align-items-center">
                            <div class=" mx-2"><input type="radio">
                                <label>YES</label></div>
                            <div class=" mx-2"><input type="radio">
                                <label>NO</label></div>
                        </div>
                    </div>
                    <div class="justify-content-center align-items-center d-flex flex-column col-md-12 mb-3"><input
                                class="form-control visible" required=""
                                placeholder="Please explain the circumstances for the above in detail.">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <!--Additional student information form end-->
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

    <!--Parents information form-->

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 order-md-2">
                    <h3 class="mb-3 text-center">Father's Image</h3>
                    <div class="card text-center bg-dark">
                        <div class="card-body bg-light">
                            <h5 class="card-title">Father</h5>
                            <img class="img-fluid d-block mx-auto rounded"
                                 src="http://gyankriti.com/wp-content/uploads/2018/03/logo-100x100.png" width="250"
                                 height="200">
                            <p class="card-text">Upload an image</p>
                            <a href="#" class="btn btn-primary">Upload Image</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 order-md-1 d-flex flex-column justify-content-center">
                    <h3 class="mb-3">Father's Information</h3>
                    <form class="needs-validation" novalidate="">
                        <div class="row mb-3">
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label><b>Full Name</b></label>
                                <input type="text" class="form-control">

                            </div>
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label><b>Email Address</b></label>
                                <input type="text" class="form-control">

                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label><b>AADHAR ID</b></label>
                                <input type="text" class="form-control">

                            </div>
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label><b>Samagra SSMID</b></label>
                                <input type="text" class="form-control">

                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label><b>Educational
                                        Qualification</b></label>
                                <input type="text" class="form-control">

                            </div>
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label><b>Mobile Number</b></label>
                                <input type="text" class="form-control">

                            </div>
                        </div>


                        <div class="row mb-3">
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label><b>Occupation</b></label>
                                <input type="text" class="form-control">

                            </div>
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label><b>Name of Organization</b></label>
                                <input type="text" class="form-control">

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <hr>

        <div class="container">
            <div class="row">
                <div class="col-md-4 order-md-2">
                    <h3 class="mb-3 text-center">Mother's Image</h3>
                    <div class="card text-center bg-dark">
                        <div class="card-body bg-light">
                            <h5 class="card-title">Mother</h5>
                            <img class="img-fluid d-block mx-auto rounded"
                                 src="http://gyankriti.com/wp-content/uploads/2018/03/logo-100x100.png" width="250"
                                 height="200">
                            <p class="card-text">Upload an image</p>
                            <a href="#" class="btn btn-primary">Upload Image</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 order-md-1 d-flex flex-column justify-content-center">
                    <h3 class="mb-3">Mother's Information</h3>
                    <form class="needs-validation" novalidate="">
                        <div class="row mb-3">
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label><b>Full Name</b></label>
                                <input type="text" class="form-control">

                            </div>
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label><b>Email Address</b></label>
                                <input type="text" class="form-control">

                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label><b>AADHAR ID</b></label>
                                <input type="text" class="form-control">

                            </div>
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label><b>Samagra SSMID</b></label>
                                <input type="text" class="form-control">

                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label><b>Educational
                                        Qualification</b></label>
                                <input type="text" class="form-control">

                            </div>
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label><b>Mobile Number</b></label>
                                <input type="text" class="form-control">

                            </div>
                        </div>


                        <div class="row mb-3">
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label><b>Occupation</b></label>
                                <input type="text" class="form-control">

                            </div>
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label><b>Name of Organization</b></label>
                                <input type="text" class="form-control">

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <hr>

        <div class="container">
            <div class="row">
                <div class="col-md-12 order-md-1 d-flex flex-column justify-content-center">
                    <h3 class="d-flex justify-content-center align-items-center">Other Information</h3>
                    <div class="row mb-3">
                        <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                            <label><b> contact number for emergency situations? (Friend, Office
                                    etc.) </b></label>
                            <input type="text" class="form-control">

                        </div>
                        <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                            <label><b contenteditable="true">Any Sibling</b></label>
                            <select class="form-control d-block text-center" required="" name="Gender">
                                <option value="" class="text-center">Choose...</option>
                                <option value="">Choose...</option>
                                <option value="">Choose...</option>
                                <option value="United States">United States</option>
                            </select>

                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark" style="border: 1px solid #343a40">
                            <tr>
                                <th class="text-center">Name</th>
                                <th class="text-center">Age</th>
                                <th class="text-center">Gender</th>
                                <th class="text-center">School</th>
                                <th class="text-center">Class</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="text" style="min-width: available"></td>
                                <td><input type="text" style="min-width: available"></td>
                                <td><input type="text" style="min-width: available"></td>
                                <td><input type="text" style="min-width: available"></td>
                                <td><input type="text" style="min-width: available"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!--ENd main parent container-->
</div>


<!-- Include all the jscripts here -->
<% include ../partials/js_bottom.ejs %>
<!--<script src="student_index_ajax.js"></script>-->
<!--End all the jscripts above-->
</body>

</html>