<!DOCTYPE html>
<html lang="en">

<!--suppress HtmlRequiredTitleElement -->
<head>

    <% include ../partials/head.ejs %>

</head>

<body class="bg-light">

<!--Page Navbar start-->
<% include ../partials/navbar.ejs %>
<!--Page Navabar end -->

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 justify-content-center align-items-center d-flex">
                <img class="img-fluid d-block mb-2" src="gyankriti_photo.jpg" alt="Gyankriti new admission photo">
            </div>
        </div>
    </div>
    <hr>
</div>


<!-- Page Content Holder -->
<div id="main_content_container">

    <div class="my-5" id="general_information_form">
        <div class="container">
            <div class="row">
                <div class="col-md-4 order-md-2">
                    <h3 class="mb-3 text-center">Student Image</h3>
                    <div class="card text-center bg-dark">
                        <div class="card-body bg-light">
                            <h5 class="card-title">Student</h5>
                            <img class="img-fluid d-block mx-auto rounded"
                                 src="http://gyankriti.com/wp-content/uploads/2018/03/logo-100x100.png" width="250"
                                 height="200" alt="student image gyankriti logo placeholder">
                            <p class="card-text">Upload an image</p>
                            <button class="btn btn-primary button-shadow">Upload Image</button>
                        </div>
                    </div>
                </div>


                <!--Form starts-->
                <div class="col-md-8 order-md-1 d-flex flex-column justify-content-center">
                    <h3 class="mb-3 text-center">Student Information</h3>

                    <form class="needs-validation" novalidate="">
                        <div class="row mb-3">

                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="dropdown_academic_session"><b>Academic Session</b></label>

                                <select id="dropdown_academic_session"
                                        class="form-control d-block text-center"
                                        name="academic_session">
                                    <option value="choose">Choose...</option>
                                </select>

                            </div>

                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="dropdown_admission_class"><b>Admission Class</b></label>
                                <select id="dropdown_admission_class" class="form-control d-block text-center"
                                        name="admission_class">
                                    <option value="choose">Choose...</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">

                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="input_student_first_name"> <b>First Name</b></label>
                                <input id="input_student_first_name" type="text" class="form-control">
                            </div>

                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="input_student_last_name"><b>Last Name</b></label>
                                <input id="input_student_last_name" type="text" class="form-control">
                            </div>

                        </div>

                        <div class="row mb-3">

                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="input_student_aadhar_no"> <b>AADHAR ID</b></label>
                                <input id="input_student_aadhar_no" class="form-control" type="text" size="12"
                                       minlength="12" maxlength="12" autocomplete="off">
                            </div>

                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="input_student_samagra_ssmid"><b>Samagra SSMID</b></label>
                                <input id="input_student_samagra_ssmid" type="text" class="form-control">
                            </div>

                        </div>

                        <div class="row mb-3">

                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="field_date_of_birth"> <b>Date Of Birth</b></label>
                                <input id="field_date_of_birth" type="date" class="form-control text-center">
                            </div>

                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="dropdown_gender"><b>Gender</b></label>
                                <select id="dropdown_gender" class="form-control d-block text-center">
                                    <option value="choose">Choose...</option>
                                </select>

                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!--student form section 1 end-->


        <!--student form section 2 start :-->
        <div class="container">
            <div class="row">

                <div class="col-md-12 order-md-1">

                    <form class="needs-validation" novalidate="">
                        <hr>

                        <div class="row mb-3">

                            <div class="justify-content-center align-items-center d-flex flex-column col-md-3">

                                <label for="dropdown_nationality"><b>Nationality</b></label>
                                <select id="dropdown_nationality" class="form-control d-block text-center">
                                    <option value="choose">Choose...</option>
                                </select>

                            </div>


                            <div class="justify-content-center align-items-center d-flex flex-column col-md-3">
                                <label for="dropdown_caste"><b>Caste</b></label>
                                <select id="dropdown_caste" class="form-control d-block text-center">
                                    <option value="choose">Choose...</option>
                                </select>
                            </div>

                            <div class="justify-content-center align-items-center d-flex flex-column col-md-3">
                                <label for="dropdown_religion"><b>Religion</b></label>
                                <select id="dropdown_religion" class="form-control d-block text-center">
                                    <option value="choose">Choose...</option>
                                </select>

                            </div>

                            <div class="col-md-3 justify-content-center align-items-center d-flex flex-column">
                                <label for="field_religion_other"><b>Other:</b></label>
                                <input id="field_religion_other" type="text" class="form-control" disabled="">
                            </div>

                        </div>


                        <div class="row mb-3">

                            <div class="justify-content-center align-items-center d-flex flex-column col-md-6">
                                <label for="input_present_address"> <b>Present Address</b></label>
                                <input id="input_present_address" type="text" class="form-control"
                                       placeholder="Present Address ">
                            </div>

                            <div class="justify-content-center align-items-center d-flex flex-column col-md-2">
                                <label for="dropdown_present_state"><b>State</b></label>
                                <select id="dropdown_present_state" class="form-control d-block text-center"
                                        name="present state">
                                    <option value="choose">Choose...</option>
                                </select>
                            </div>

                            <div class="justify-content-center align-items-center d-flex flex-column col-md-2">
                                <label for="dropdown_present_city"><b>City</b></label>
                                <select id="dropdown_present_city" class="form-control d-block text-center">
                                    <option value="choose">Choose...</option>
                                </select>
                            </div>

                            <div class="justify-content-center align-items-center d-flex flex-column col-md-2">
                                <label for="input_present_pincode"><b>Pincode</b></label>
                                <input type="text" id="input_present_pincode" class="form-control d-block" minlength="6"
                                       size="6" maxlength="6">
                            </div>

                        </div>


                        <div class="row mb-3">

                            <div class="justify-content-center align-items-center d-flex flex-column col-md-6">
                                <label for="input_permanent_address"><b>Permanent Address (If Any)</b></label>
                                <input id="input_permanent_address" type="text" class="form-control"
                                       placeholder="Permanent Address">
                            </div>

                            <div class="justify-content-center align-items-center d-flex flex-column col-md-2">
                                <label for="dropdown_permanent_state"><b>State</b></label>
                                <select id="dropdown_permanent_state" class="form-control d-block text-center">
                                    <option value="choose">Choose...</option>
                                </select>
                            </div>

                            <div class="justify-content-center align-items-center d-flex flex-column col-md-2">
                                <label for="dropdown_permanent_city"><b>City</b></label>
                                <select id="dropdown_permanent_city" class="form-control d-block text-center">
                                    <option value="choose">Choose...</option>
                                </select>
                            </div>

                            <div class="justify-content-center align-items-center d-flex flex-column col-md-2">
                                <label for="input_permanent_pincode"><b>Pincode</b></label>
                                <input type="text" id="input_permanent_pincode"
                                       class="form-control d-block" minlength="6" size="6" maxlength="6">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!--General student information form end-->
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

    <!--Additional information Form-->
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 order-md-1 d-flex flex-column justify-content-center">
                    <h3 class="d-flex justify-content-center align-items-center">Additional Information
                        and Education History </h3>

                    <hr>

                    <form class="needs-validation" novalidate="">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <form class="needs-validation" novalidate="">

                                    <div class="row mb-3">

                                        <div class="justify-content-center align-items-center d-flex flex-column col-md-3">
                                            <label for="dropdown_the_parents_are"><b>The parents are :</b></label>
                                            <select id="dropdown_the_parents_are"
                                                    class="form-control d-block text-center">
                                                <option value="choose">Choose...</option>
                                            </select>
                                        </div>

                                        <div class="justify-content-center align-items-center d-flex flex-column col-md-3">
                                            <label for="dropdown_child_lives_with"><b>Child lives with</b></label>
                                            <select id="dropdown_child_lives_with"
                                                    class="form-control d-block text-center">
                                                <option value="choose">Choose...</option>
                                            </select>
                                        </div>

                                        <div class="justify-content-center align-items-center d-flex flex-column col-md-3">
                                            <label for="dropdown_adopted_child"><b>Adopted child</b></label>
                                            <select id="dropdown_adopted_child"
                                                    class="form-control d-block text-center">
                                                <option value="choose">Choose...</option>
                                            </select>
                                        </div>

                                        <div class="justify-content-center align-items-center d-flex flex-column col-md-3">
                                            <label for="dropdown_any_previous_schools"><b>Any previous
                                                    schools</b></label>
                                            <select id="dropdown_any_previous_schools"
                                                    class="form-control d-block text-center">
                                                <option value="choose">Choose...</option>
                                            </select>
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>
                    </form>

                    <div class="table-responsive">
                        <table id="table_previous_school" class="table table-bordered table-hover display-none">
                            <thead class="thead-dark" style="border: 1px solid #343a40">
                            <tr>
                                <th class="text-center">S.No</th>
                                <th class="text-center">School Name</th>
                                <th class="text-center">City and State</th>
                                <th class="text-center">Year of Admission</th>
                                <th class="text-center">Grades Completed</th>
                                <th class="text-center">Board/Pattern</th>
                            </tr>
                            </thead>
                            <tbody id="table_body_previous_school">

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <hr>

        <div class="container">
            <form class="needs-validation" novalidate="">


                <div class="row">
                    <div class="form-group row d-flex col-md-12 align-items-center  justify-content-center flex-column">

                        <div class="col-md-10">
                            <label for="radio_question_disability"><b class="mx-2">Has the student ever been tested (or
                                    referred
                                    for testing) for a learning, behavioural, emotional or physical
                                    disability? </b></label>
                        </div>

                        <div id="radio_question_disability"
                             class="d-flex flex-row justify-content-center align-items-center">

                            <div class=" mx-2">
                                <label for="radio_question_disability_yes"> YES</label>
                                <input id="radio_question_disability_yes" type="radio" name="radio_question_disability">
                            </div>
                            <div class=" mx-2">
                                <label for="radio_question_disability_no">NO</label>
                                <input id="radio_question_disability_no" type="radio" name="radio_question_disability">
                            </div>

                        </div>

                    </div>

                    <div class="justify-content-center align-items-center d-flex flex-column col-md-12 mb-3">
                        <input id="field_question_disability" class="form-control visible"
                               placeholder="Please explain the circumstances for the above in detail." disabled="">
                    </div>

                </div>


                <div class="row">
                    <div class="form-group row d-flex col-md-12 align-items-center justify-content-center flex-column">

                        <div class="col-md-10">
                            <label for="radio_question_therapist"><b class="mx-2">Has the child ever been evaluated by a
                                    psychiatrist, psychologist, speech/language therapist, educational diagnostician or
                                    other
                                    specialist? </b></label>
                        </div>

                        <div id="radio_question_therapist"
                             class="d-flex flex-row justify-content-center align-items-center">

                            <div class=" mx-2">
                                <label for="radio_question_therapist_yes"> YES</label>
                                <input id="radio_question_therapist_yes" type="radio" name="radio_question_therapist">
                            </div>

                            <div class=" mx-2">
                                <label for="radio_question_therapist_no">NO</label>
                                <input id="radio_question_therapist_no" type="radio" name="radio_question_therapist">
                            </div>
                        </div>

                    </div>

                    <div class="justify-content-center align-items-center d-flex flex-column col-md-12 mb-3">
                        <input id="field_question_therapist" class="form-control visible"
                               placeholder="Please explain the circumstances for the above in detail." disabled="">
                    </div>

                </div>


                <div class="row">
                    <div class="form-group row d-flex col-md-12 align-items-center justify-content-center flex-column">

                        <div class="col-md-10">
                            <label for="radio_question_repeated_grade"><b class="mx-2">Has the student ever repeated or
                                    skipped a
                                    grade/class in school? </b></label>
                        </div>

                        <div id="radio_question_repeated_grade"
                             class="d-flex flex-row justify-content-center align-items-center">

                            <div class=" mx-2">
                                <label for="radio_question_repeated_grade_yes"> YES</label>
                                <input id="radio_question_repeated_grade_yes" type="radio"
                                       name="radio_question_repeated_grade">
                            </div>

                            <div class=" mx-2">
                                <label for="radio_question_repeated_grade_no">NO</label>
                                <input id="radio_question_repeated_grade_no" type="radio"
                                       name="radio_question_repeated_grade">
                            </div>
                        </div>

                    </div>

                    <div class="justify-content-center align-items-center d-flex flex-column col-md-12 mb-3">
                        <input id="field_question_repeated_grade" class="form-control visible"
                               placeholder="Please explain the circumstances for the above in detail." disabled="">
                    </div>

                </div>


                <div class="row">
                    <div class="form-group row d-flex col-md-12 align-items-center justify-content-center flex-column">

                        <div class="col-md-10">
                            <label for="radio_question_suspended"><b class="mx-2">Has the student been
                                    suspended/expelled from
                                    any other school? </b></label>
                        </div>

                        <div id="radio_question_suspended"
                             class="d-flex flex-row justify-content-center align-items-center">

                            <div class=" mx-2">
                                <label for="radio_question_suspended_yes"> YES</label>
                                <input id="radio_question_suspended_yes" type="radio" name="radio_question_suspended">
                            </div>

                            <div class=" mx-2">
                                <label for="radio_question_suspended_no">NO</label>
                                <input id="radio_question_suspended_no" type="radio" name="radio_question_suspended">
                            </div>
                        </div>

                    </div>

                    <div class="justify-content-center align-items-center d-flex flex-column col-md-12 mb-3">
                        <input id="field_question_suspended"
                               class="form-control visible"
                               placeholder="Please explain the circumstances for the above in detail." disabled="">
                    </div>

                </div>


                <div class="row">

                    <div class="form-group row d-flex col-md-12 align-items-center justify-content-center flex-column">

                        <div class="col-md-10">
                            <label for="radio_question_illness"><b class="mx-2">Does the student have any major illness
                                    or
                                    undergone any surgery? </b></label>
                        </div>

                        <div id="radio_question_illness"
                             class="d-flex flex-row justify-content-center align-items-center">

                            <div class="mx-2">
                                <label for="radio_question_illness_yes"> YES</label>
                                <input id="radio_question_illness_yes" type="radio" name="radio_question_illness">
                            </div>

                            <div class="mx-2">
                                <label for="radio_question_illness_no">NO</label>
                                <input id="radio_question_illness_no" type="radio" name="radio_question_illness">
                            </div>
                        </div>

                    </div>

                    <div class="justify-content-center align-items-center d-flex flex-column col-md-12 mb-3">
                        <input id="field_question_illness"
                               class="form-control visible"
                               placeholder="Please explain the circumstances for the above in detail." disabled="">
                    </div>

                </div>


            </form>
        </div>
    </div>
    <hr>
    <!--Additional student information form end-->
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

    <!--Parents information form-->

    <div>
        <div class="container">
            <div class="row">

                <div class="col-md-4 order-md-2">
                    <h3 class="mb-3 text-center">Father's Image</h3>

                    <div class="card text-center bg-dark">
                        <div class="card-body bg-light">
                            <h5 class="card-title">Father</h5>
                            <img class="img-fluid d-block mx-auto rounded"
                                 src="http://gyankriti.com/wp-content/uploads/2018/03/logo-100x100.png" width="250"
                                 height="200" alt="placeholder gyankriti logo">
                            <p class="card-text">Upload an image</p>
                            <button class="btn btn-primary button-shadow">Upload Image</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 order-md-1 d-flex flex-column justify-content-center">
                    <h3 class="mb-3">Father's Information</h3>

                    <form class="needs-validation" novalidate="">


                        <div class="row mb-3">

                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="input_father_name"><b>Full Name</b></label>
                                <input id="input_father_name" type="text" class="form-control">
                            </div>

                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="input_father_email"><b>Email Address</b></label>
                                <input id="input_father_email" type="text" class="form-control">
                            </div>

                        </div>


                        <div class="row mb-3">

                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="input_father_aadhar"><b>AADHAR ID</b></label>
                                <input class="form-control" id="input_father_aadhar" type="text" size="12"
                                       minlength="12" maxlength="12" autocomplete="off">
                            </div>

                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="input_father_samagra_ssmid"><b>Samagra SSMID</b></label>
                                <input id="input_father_samagra_ssmid" type="text" class="form-control">
                            </div>

                        </div>


                        <div class="row mb-3">

                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="input_father_education_qualification"><b>Educational
                                        Qualification</b></label>
                                <input id="input_father_education_qualification" type="text" class="form-control">
                            </div>

                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="input_father_mobile_no"><b>Mobile Number</b></label>
                                <input id="input_father_mobile_no" type="text" size="10" maxlength="10" minlength="10"
                                       class="form-control">
                            </div>
                        </div>


                        <div class="row mb-3">
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="input_father_occupation"><b>Occupation</b></label>
                                <input id="input_father_occupation" type="text" class="form-control">

                            </div>
                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="input_father_name_of_organization"><b>Name of Organization</b></label>
                                <input id="input_father_name_of_organization" type="text" class="form-control">

                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>

        <hr>

        <div class="container">
            <div class="row">

                <div class="col-md-4 order-md-2">
                    <h3 class="mb-3 text-center">Mother's Image</h3>
                    <div class="card text-center bg-dark">
                        <div class="card-body bg-light">
                            <h5 class="card-title">Mother</h5>
                            <img class="img-fluid d-block mx-auto rounded"
                                 src="http://gyankriti.com/wp-content/uploads/2018/03/logo-100x100.png" width="250"
                                 height="200" alt="placeholder gyankriti logo">
                            <p class="card-text">Upload an image</p>
                            <button class="btn btn-primary button-shadow">Upload Image</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 order-md-1 d-flex flex-column justify-content-center">
                    <h3 class="mb-3">Mother's Information</h3>
                    <form class="needs-validation" novalidate="">


                        <div class="row mb-3">

                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="input_mother_name"><b>Full Name</b></label>
                                <input id="input_mother_name" type="text" class="form-control">
                            </div>

                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="input_mother_email"><b>Email Address</b></label>
                                <input id="input_mother_email" type="text" class="form-control">
                            </div>

                        </div>


                        <div class="row mb-3">

                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="input_mother_aadhar"><b>AADHAR ID</b></label>
                                <input class="form-control" id="input_mother_aadhar" type="text" size="12"
                                       minlength="12" maxlength="12" autocomplete="off">

                            </div>

                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="input_mother_samagra_ssmid"><b>Samagra SSMID</b></label>
                                <input id="input_mother_samagra_ssmid" type="text" class="form-control">

                            </div>

                        </div>


                        <div class="row mb-3">

                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="input_mother_education_qualification"><b>Educational
                                        Qualification</b></label>
                                <input id="input_mother_education_qualification" type="text" class="form-control">
                            </div>

                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="input_mother_mobile_no"><b>Mobile Number</b></label>
                                <input id="input_mother_mobile_no" type="text" size="10" maxlength="10" minlength="10"
                                       class="form-control">
                            </div>

                        </div>


                        <div class="row mb-3">

                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="input_mother_occupation"><b>Occupation</b></label>
                                <input id="input_mother_occupation" type="text" class="form-control">
                            </div>

                            <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                                <label for="input_mother_name_of_organization"><b>Name of Organization</b></label>
                                <input id="input_mother_name_of_organization" type="text" class="form-control">
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>

        <hr>

        <div class="container">
            <div class="row">

                <div class="col-md-12 order-md-1 d-flex flex-column justify-content-center">
                    <h3 class="d-flex justify-content-center align-items-center">Other Information</h3>


                    <div class="row mb-3">

                        <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                            <label for="input_emergency_contact"><b> Contact number for emergency situations? (Friend,
                                    Office
                                    etc.) </b></label>
                            <input id="input_emergency_contact" type="text" size="10" maxlength="10" minlength="10"
                                   class="form-control">
                        </div>

                        <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
                            <label for="dropdown_any_sibling"><b>Any Sibling</b></label>
                            <select id="dropdown_any_sibling" class="form-control d-block text-center">
                                <option value="choose">Choose...</option>
                            </select>
                        </div>

                    </div>


                    <div class="table-responsive">
                        <table id="table_sibling" class="table table-bordered table-hover display-none">
                            <thead class="thead-dark" style="border: 1px solid #343a40">
                            <tr>
                                <th class="text-center">S.No</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Age</th>
                                <th class="text-center">Gender</th>
                                <th class="text-center">School</th>
                                <th class="text-center">Class</th>
                            </tr>
                            </thead>
                            <tbody id="table_body_sibling">
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-12 order-md-1 d-flex flex-column justify-content-center">
                <button id="button_save_information" class="btn btn-primary button-shadow">Save Information</button>
            </div>
        </div>
    </div>

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!--ENd main parent container-->
</div>


<script src="new_admission.js"></script>
<!-- Include all the jscripts here -->
<% include ../partials/js_bottom.ejs %>
<!--<script src="student_index_ajax.js"></script>-->
<!--End all the jscripts above-->
</body>

</html>