<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node js Express upload test</title>
    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<p>hello </p>
<hr>


<form id="img1" action="/student/upload_test" method="post" enctype="multipart/form-data">
    <input id="profileImage"  accept="image/*" type="file" name="profileImage"/>
    <button id="upload" type="button" name="upload" value="upload">Upload</button>
</form>


<script src="upload.js"></script>
</body>
</html>