<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node js Express upload test</title>
</head>
<body>
<p>hello </p>
<hr>
<form action="/student/upload_test" method="post" enctype="multipart/form-data">
    <input type="file" name="profileImage"/>
    <input type="submit" name="submit" value="submit">
</form>
</body>
</html>