<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node js Express upload test</title>
    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<p>hello </p>
<hr>
<label for="input_aadhar"> <b>AADHAR ID</b></label>
<input id="input_aadhar" type="text" size="12"
       minlength="12" maxlength="12" autocomplete="off">

<button type="button" id="display_button">Display</button>
<hr>

<img id="student_img" class="img-250x250" src="http://gyankriti.com/wp-content/uploads/2018/03/logo-100x100.png"
     alt="student_image">
<hr>
<img id="father_img" class="img-250x250" src="http://gyankriti.com/wp-content/uploads/2018/03/logo-100x100.png"
     alt="father_image">
<hr>
<img id="mother_img" class="img-250x250" src="http://gyankriti.com/wp-content/uploads/2018/03/logo-100x100.png"
     alt="mother_image">
<hr>

<script src="upload.js"></script>
</body>
</html>